jeromem/Sandbox_jeromem_ts/sample/mep_iterator/cbe_test_testbulkinterface_msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 *  This is a sample used to help with the Soap Generator design
 *
-->
<!--
Licensed to Members of the TM Forum under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TM Forum licences this file to You under the Apache License, 
Version 2.0 (the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
 limitations under the License.
-->
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/cbe/test"
  xmlns:tns="http://www.tmforum.org/xml/tip/cbe/test"
  xmlns:mep="http://www.tmforum.org/xml/tip/internal/mep"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>TMF Service Interface: TestBulkInterface</p>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="cbe_test.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/mep" schemaLocation="internal_mep.xsd"/>
  <xsd:element name="getTestProblemsByIteratorRequest">
    <xsd:annotation>
      <xsd:documentation>
        <p>The getTestProblemsByIterator request message XML schema.</p>
        <p></p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="mep" type="mep:MepPolicies">
          <xsd:annotation>
            <xsd:documentation>
              <p></p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="inTestProblems" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>
              <p></p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTestProblemsByIteratorResponse">
    <xsd:annotation>
      <xsd:documentation>
        <p>The getTestProblemsByIterator response message XML schema.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="outTestProblems" type="tns:ArrayOfTestProblem">
          <xsd:annotation>
            <xsd:documentation>
              <p>TestProblems.</p>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getTestProblemsByIteratorException">
    <xsd:annotation>
      <xsd:documentation>
        <p>The getTestProblemsByIterator exception message XML schema.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
      <!-- TODO: Integrate model operation exceptions -->
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>