jeromem/Sandbox_jeromem_ts/sample/mep_iterator/internal_entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    * * This artifact is a sample to help with the Model2Xml mapping rules *
    implemented in the SOAP Generator. * This artifact is normally generated
    from TIP Internal Model for * XSD injection in generated XML artifacts. *
  -->
  <!--
    Licensed to Members of the TIP Open Source Community under one or more
    contributor license agreements. See the NOTICE file distributed with this
    work for additional information regarding copyright ownership. Members of
    the TIP Open Source Community licences this file to You under the Apache
    License, Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law
    or agreed to in writing, software distributed under the License is
    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific language
    governing permissions and limitations under the License.
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/internal/entity" xmlns:tns="http://www.tmforum.org/xml/tip/internal/entity"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.2">
  <xsd:annotation>
    <xsd:documentation>
      <pre>TMF XML Schema Definitions from Tigerstripe model
        project name: TIP_Generator_Internal_Model
        at version: 0.0.2
        for all artifacts in package: org.tmforum.tip.internal.entity
        Model Description:
        Internal Framework model used by Tigerstripe generators
        Package Description:
        The TIP common model package with entity related data definitions.
        Package data summary info:
        enumerations: 1
        exceptions: 0
        datatypes: 1
        entities: 1
        events: 0
      </pre>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ******************************* -->
  <!-- Package Enumeration definitions -->
  <!-- ******************************* -->
  <xsd:simpleType name="EntityIdentifierScheme">
    <xsd:annotation>
      <xsd:documentation>
        The enumeration of all the supported TIP EID schemes.
        This is an implicit/lose definition (free string) based on enumeration:
        EntityIdentifierSchemeEnum
    </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EntityIdentifierSchemeEnum">
    <xsd:annotation>
      <xsd:documentation>
        The enumeration of all the supported TIP EID schemes.
    </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OSSJ">
        <xsd:annotation>
          <xsd:documentation>
            The OSSJ EID style.
        </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTNM">
        <xsd:annotation>
          <xsd:documentation>
            The mTOP MTNM EID style.
        </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTOSI">
        <xsd:annotation>
          <xsd:documentation>
            The mTOP MTOSI EID scheme
        </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TIP">
        <xsd:annotation>
          <xsd:documentation>
            The TIP EID scheme.
        </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- **************************** -->
  <!-- Package Datatype definitions -->
  <!-- **************************** -->
  <xsd:element name="eid" type="tns:EntityIdentifier" />
  <xsd:complexType name="EntityIdentifier">
    <xsd:annotation>
      <xsd:documentation>
        The data type definition of the TIP Entity Identifier (EID).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="scheme" type="tns:EntityIdentifierScheme">
        <xsd:annotation>
          <xsd:documentation>
            This is the property of an EID that indicates the scheme used to build the EID
            value.
      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valueList">
        <xsd:annotation>
          <xsd:documentation>
            List of value instances
      </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value" type="xsd:anyType" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  The value of the EID that is generated for the entity instance based on
                  other EID properties.
            </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="contextList" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            List of context instances
      </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="context" type="xsd:anyType"
              maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  This is the property of the EID that allows the contextual (runtime)
                  interpretation of the EID value.
            </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="encoding" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            This is the property of the EID that describes the format/type of the EID
            value.
      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  
  <xsd:complexType name="ArrayOfEntityIdentifier">
    <xsd:sequence>
      <xsd:element name="item" type="tns:EntityIdentifier" nillable="true"
        minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ************************** -->
  <!-- package Entity definitions -->
  <!-- ************************** -->
  <xsd:element name="entityBase" type="tns:EntityBase" />

  <xsd:complexType name="EntityBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        This is the base definition used for all TIP entities.
    </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifier" type="tns:EntityIdentifier">
        <xsd:annotation>
          <xsd:documentation>
            The entity instance identifier (EID).
      </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArrayOfEntityBase">
    <xsd:sequence>
      <xsd:element name="item" type="tns:EntityBase" nillable="true"
        minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <!-- ************************* -->
  <!-- Package Event definitions -->
  <!-- ************************* -->
  <!-- ****************************** -->
  <!-- Package Exception definitions -->
  <!-- ****************************** -->
</xsd:schema>