jeromem/ws_samples/src/main/xml/internal_entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 *  Generated with Tigerstripe Workbench 0.5.0.200908271716NGT.
 *
 *  Plugin  : Nortel Networks, Hewlett-Packard Company/TIP_Soap_Generator(0.1.3) (0.1.3)
 *
 *  DO NOT EDIT THIS CODE WAS AUTOMATICALLY GENERATED
-->
<!--
Licensed to Members of the TIP Open Source Community under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
Members of the TIP Open Source Community licences this file to You under the Apache License, 
Version 2.0 (the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
 limitations under the License.
-->

<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/internal/entity"
  xmlns:tns="http://www.tmforum.org/xml/tip/internal/entity"
   xmlns:extensibility="http://www.tmforum.org/xml/tip/internal/extensibility"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  version="0.0.2">
  <xsd:annotation>
    <xsd:documentation>
      <pre>TMF XML Schema Definitions from Tigerstripe model
                      project name: TIP_Generator_Internal_Model
                        at version: 0.0.2
      for all artifacts in package: org.tmforum.tip.internal.entity
      Model Description:
      Internal Framework model used by Tigerstripe generators
      Package Description:
      The TIP common model package with entity related data definitions.
      Package data summary info:
 Association Classes: 0
        enumerations: 1
          exceptions: 0
           datatypes: 1
            entities: 1
              events: 0
      </pre>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.tmforum.org/xml/tip/internal/extensibility" schemaLocation="internal_extensibility.xsd"/>
<!-- ******************************* -->
<!-- Package Enumeration definitions -->
<!-- ******************************* -->

<xsd:simpleType name="EntityIdentifierScheme">
  <xsd:annotation>
    <xsd:documentation>
      The enumeration of all the supported TIP EID schemes.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="1">
      <xsd:annotation>
        <xsd:documentation>
          The OSSJ EID style.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="2">
      <xsd:annotation>
        <xsd:documentation>
          The mTOP MTNM EID style.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="3">
      <xsd:annotation>
        <xsd:documentation>
          The mTOP MTOSI EID scheme
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="0">
      <xsd:annotation>
        <xsd:documentation>
          The TIP EID scheme.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>
<!-- **************************** -->
<!-- Package Datatype definitions -->
<!-- **************************** -->




       	<xsd:element name="eid" type="tns:EntityIdentifier" />

 <xsd:complexType name="EntityIdentifier" >
  <xsd:annotation>
    <xsd:documentation>
      The data type definition of the TIP Entity Identifier  EID .
    </xsd:documentation>
  </xsd:annotation>
  
  		  
	<xsd:sequence>


  <xsd:element name="scheme" type="tns:EntityIdentifierScheme" minOccurs="1" maxOccurs="1" >
    <xsd:annotation>
      <xsd:documentation>
      This is the property of an EID that indicates the scheme used to build the EID value.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <xsd:element name="value" type="xsd:anyType" minOccurs="0" maxOccurs="1" >
    <xsd:annotation>
      <xsd:documentation>
      The value of the EID that is generated for the entity instance based on other EID properties.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <xsd:element name="context" type="xsd:anyType" minOccurs="0" maxOccurs="1" >
    <xsd:annotation>
      <xsd:documentation>
      This is the property of the EID that allows the contextual  runtime  interpretation of the EID value.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <xsd:element name="encoding" type="xsd:string" minOccurs="0" maxOccurs="1" >
    <xsd:annotation>
      <xsd:documentation>
      This is the property of the EID that describes the format/type of the EID value.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfEntityIdentifier">
		<xsd:sequence>
			<xsd:element name="item" type="tns:EntityIdentifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
</xsd:complexType>
<!-- ************************** -->
<!-- package Entity definitions -->
<!-- ************************** -->




	<xsd:element name="entityBase" type="tns:EntityBase" />

<xsd:complexType name="EntityBase"  abstract="true" >
  <xsd:annotation>
    <xsd:documentation>
      This is the base definition used for all TIP entities.
This type is injected by the TIP Generators into code generated from Tigerstripe Entity artifacts where the 'Extends' field has been left as an empty string.
    </xsd:documentation>
  </xsd:annotation>

  
   	<xsd:sequence>
	    <xsd:element name="identifier" type="tns:EntityIdentifier">
		    <xsd:annotation>
		        <xsd:documentation>
                         The entity instance identifier  EID .
                </xsd:documentation>
		    </xsd:annotation>
	    </xsd:element>
				  <xsd:element name="extensionInfo" minOccurs="0">
    <xsd:annotation>
      <xsd:documentation>
       <p>A generic list of any type of elements. Used for vendor Extensions or loose element encapsulation from other namespaces.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  
  


     </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfEntityBase">
		<xsd:sequence>
			<xsd:element name="item" type="tns:EntityBase" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
</xsd:complexType>
<!-- **************************** -->
<!-- Package Datatype definitions -->
<!-- **************************** -->
<!-- ************************** -->
<!-- package Event definitions -->
<!-- ************************** -->
<!-- ************************** -->
<!-- package Exception definitions -->
<!-- ************************** -->
</xsd:schema>