jeromem/ws_samples/src/main/xml/test1/entity_one_one.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    * Sample manually generated by jeromem
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/samples/entityoneone"
  xmlns:tns="http://www.tmforum.org/xml/tip/samples/entityoneone"
  xmlns:e1="http://www.tmforum.org/xml/tip/samples/entityone"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.2"
  xmlns:pref="http://www.tmforum.org/xml/tip/samples/entitybase">
  <xsd:annotation>
    <xsd:documentation />
  </xsd:annotation>
  <xsd:import schemaLocation="entity_one.xsd"
    namespace="http://www.tmforum.org/xml/tip/samples/entityone">
  </xsd:import>
  <xsd:element name="entityOneOne" type="tns:EntityOneOne"
    substitutionGroup="e1:entityOne" />

  <xsd:complexType name="EntityOneOne">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="e1:EntityOne">
        <xsd:sequence>
          <xsd:element name="att1" type="xsd:string">
          </xsd:element>
          <xsd:element name="att2" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>