jeromem/ws_samples/src/main/xml/test1/entity_one.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    * Sample manually generated by jeromem
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/samples/entityone"
  xmlns:tns="http://www.tmforum.org/xml/tip/samples/entityone"
  xmlns:eb="http://www.tmforum.org/xml/tip/samples/entitybase"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.2">
  <xsd:annotation>
    <xsd:documentation />
  </xsd:annotation>
  <xsd:import schemaLocation="entity_base.xsd"
    namespace="http://www.tmforum.org/xml/tip/samples/entitybase">
  </xsd:import>
  <xsd:element name="entityOne" type="tns:EntityOne"
    substitutionGroup="eb:entityBase" />

  <xsd:complexType name="EntityOne" abstract="true">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="eb:EntityBase">
        <xsd:sequence>
          <xsd:element name="att1" type="xsd:string">
          </xsd:element>
          <xsd:element name="att2" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>