jeromem/ws_samples/src/main/xml/test1/notif_base.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    * Sample manually generated by jeromem
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/samples/notifbase" xmlns:tns="http://www.tmforum.org/xml/tip/samples/notifbase"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.2">
  <xsd:annotation>
    <xsd:documentation>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="notifBase" type="tns:NotifBase">
  </xsd:element>

  <xsd:complexType name="NotifBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="srcTime" type="xsd:dateTime">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>