jeromem/ws_samples/src/main/xml/test1/service_problem.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    * Sample manually generated by jeromem
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/samples/service/problem"
  xmlns:tns="http://www.tmforum.org/xml/tip/samples/service/problem"
  xmlns:e1="http://www.tmforum.org/xml/tip/samples/cbe/problem"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.2">
  <xsd:annotation>
    <xsd:documentation />
  </xsd:annotation>
  <xsd:import schemaLocation="cbe_problem.xsd"
    namespace="http://www.tmforum.org/xml/tip/samples/cbe/problem">
  </xsd:import>
  <xsd:element name="serviceProblem" type="tns:ServiceProblem"
    substitutionGroup="e1:cbeProblem" />

  <xsd:complexType name="ServiceProblem">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="e1:CbeProblem">
        <xsd:sequence>
          <xsd:element name="att1" type="xsd:string">
          </xsd:element>
          <xsd:element name="att2" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>