jeromem/TIP_IA_Common_Model/samples/common_entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 *  Generated with Tigerstripe Workbench 0.4.6.v200905071426.
 *
 *  Plugin  : Nortel Networks/TIP_Soap_Generator(0.1.3) (0.1.3)
 *
 *  DO NOT EDIT THIS CODE WAS AUTOMATICALLY GENERATED
-->
<!--
Copyright 2009 TM Forum. All rights reserved.
This work is a copyrighted document and specification of TeleManagement Forum (TM Forum).
The authorship of TM Forum of this work shall be displayed on any further distribution of it.
This work has been through review cycles.  However, due to the inherent complexity
in the design and implementation of software and systems, no liability is accepted for any errors or
omissions or for consequences of any use made of this work.
Under no circumstances will TM Forum be liable for direct or indirect damages or
any costs or losses resulting from the use of this work.  The risk of designing and
implementing products in accordance with this work is borne solely by the user of it.
This work may be subject to or involve a claim of patent rights by one or
more TM Forum members or by non-members of TM Forum.
-->

<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.tmforum.org/xml/tip/common/entity"
  xmlns:tns="http://www.tmforum.org/xml/tip/common/entity"
   xmlns:nam="http://www.tmforum.org/xml/tip/common/naming"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  version="1.0">
  <xsd:annotation>
    <xsd:documentation>
      <p>TMF Service Interface: entity</p>
      The package with all common TIP entity model definitions.
    </xsd:documentation>
  </xsd:annotation>
<!-- ************************************************** -->
<!-- All package Enumeration 1 definitions -->
<!-- ************************************************** -->
<xsd:simpleType name="IdentifierSchemeEnum">
  <xsd:annotation>
    <xsd:documentation>
      The enumeration of all the supported TIP EID schemes.
Need to be extendable.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
  <!-- TODO: Extensibility -->
    <xsd:enumeration value="OSSJ">
      <xsd:annotation>
        <xsd:documentation>
          The OSSJ EID style.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="MTOP">
      <xsd:annotation>
        <xsd:documentation>
          The mTOP EID style.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="TIP">
      <xsd:annotation>
        <xsd:documentation>
          The TIP EID scheme
        </xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>
<!-- ************************************************** -->
<!-- All package Datatype 1 definitions -->
<!-- ************************************************** -->
<xsd:element name="eid" type="tns:Identifier"/>
<xsd:complexType name="Identifier">
  <xsd:annotation>
    <xsd:documentation>
      
    </xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
  <!-- TODO: Optionality / Cardinality -->
  <!-- TODO: Extensibility -->
    <xsd:element name="scheme" type="tns:IdentifierSchemeEnum" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          This is the property of an EID that indicates the scheme used to build the EID value.
        </xsd:documentation>
       </xsd:annotation>
    </xsd:element>
    <xsd:element name="value" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          The value of the EID that is generated for the entity instance based on other EID properties.
        </xsd:documentation>
       </xsd:annotation>
    </xsd:element>
    <xsd:element name="context" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          This is the property of the EID that allows an absolute interpretation of the EID value with some shemes.
        </xsd:documentation>
       </xsd:annotation>
    </xsd:element>
    <xsd:element name="encoding" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          This is the property of the EID that describes the format/type of the EID value.
        </xsd:documentation>
       </xsd:annotation>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>
<!-- ************************************************** -->
<!-- All package Entity 0 definitions -->
<!-- ************************************************** -->
<!-- ************************************************** -->
<!-- All package Event 0 definitions -->
<!-- ************************************************** -->
</xsd:schema>